body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #11311390;
}
#content{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
#loading {
    display: none;
    font-size: 24px;
    color: #f0ecf0;
    background-color: #181717;
    padding: 10px 20px;
    border-radius: 5px;
    animation: blink 1s infinite;
}
#number {
    font-size: 24px;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}